@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global styles */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: hsla(0, 28%, 63%, 0.4);
}

.container {
  width: 700px;
  margin: 40px auto;
 
}

.profile-photo {
  width: 320px;
  height: 320px;
  border-radius: 80%;
  object-fit: cover;
  object-position: center bottom;
}
.kpop-photo,.dog-photo,.culture-photo,.travel-photo
{ 
  width: 630px;
  height: 420px;
  object-fit: cover;
  border-radius: 5px;
}



.card-white {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.card-white:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline;
  padding: 0px 20px;
}

.spacing {
  margin-bottom: 10px;
}

/* Custom Card Design */

.custom-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

.custom-card h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
}

.custom-card p {
  margin-bottom: 15px;
}

.custom-card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

/* Media Queries */

@media (max-width: 960px) {
  .container,.kpop-photo,
  .dog-photo,.travel-photo,
  .culture-photo {
    width: 90%;
    max-width: 800px;
  }
}

@media (max-width: 720px) {
  .container,.kpop-photo,
  .dog-photo,.travel-photo,
  .culture-photo {
    width: 90%;
    max-width: 600px;
  }
}

@media (max-width: 540px) {
  .container,.kpop-photo,
  .dog-photo,.travel-photo,
  .culture-photos {
    width: 90%;
    max-width: 400px;
  }
}


.rainbow-mesh {
  background-color: hsla(0, 100%, 50%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(28, 100%, 74%, 4) 0px,
      transparent 50%
    ), radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(355, 100%, 93%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 50%, hsla(340, 100%, 76%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22, 100%, 77%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, hsla(242, 100%, 70%, 1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(343, 100%, 76%, 1) 0px, transparent 50%);
}